
#paramForm{
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 100%;
}

#paramForm span {
  justify-content: space-between;
}

#paramForm p{
  align-self: center;
}

form span input {
  width: min-content;
}

#SubmitSettingsChanges{
  margin-top: 20px;
}

#paramDiv{
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}