footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--light-main-blue);

  width: 100%;
  min-height: 200px;

  padding: 30px;
}

#footerContent {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: center;
  gap: 20px;
  max-width: 800px;
}

.footerColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}

.footerColumn img {
  width: 100%;
  height: auto;
}

.footerColumn a,
.footerColumn p,
.footerColumn h3 {
  text-decoration: none;
  color: white;
}

#column1,
#column2,
#column3 {
  flex: 1;
}


#column2 h3{
  align-self: center;
  text-align: center;
}

#column3{
  align-items: flex-end;
  text-align: right;
}

@media (max-width: 500px) {
  .footer {
    flex-direction: column;
    gap: 20px;
  }

  #footerContent {
    flex-direction: column;
    gap: 20px;
  }

  .footerColumn {
    align-items: center;
  }

  #column1,
  #column2,
  #column3 {
    flex: 1;
    width: 100%;
    align-items: center;
  }
}