#rapportTreso{
	border: 1px solid var(--main-blue);
	border-radius: 8px;
	padding: 10px;
}

#rapportTresoTable{
	padding: 10px;
	margin-top: 10px;
	width: 100%;
	border-collapse: collapse;
}

#rapportTresoTable th, #rapportTresoTable td {
	border: 1px solid black;
	padding: 8px; /* Ajout de l'espacement entre les colonnes */
	text-align: left;
}

.separator {
  border-bottom: 2px solid black;
	width: 80%;
	align-self: center;
	margin: 20px 0 0 0;
}
