#addArticleManuallyForm {
  margin-top: 20px;
  margin-bottom: 20px;
}

#validateAndScanSpan {
  justify-content: center;
}


#validateAndScanSpan #validate{
	background-color: rgb(2, 109, 2);
}

#validateAndScanSpan #validate:disabled{
	background-color: var(--main-blue);
}

#validateBasketModal {
  height: fit-content;
  width: fit-content;
  padding: 10px;
  border-radius: 8px;
  margin: auto;
}

#validateBasketModal table {
  margin-top: 10px;
  margin-bottom: 10px;
}

#validateBasketModal button {
  width: 100%;
}
