@import url("https://fonts.googleapis.com/css2?family=Tauri&display=swap");

:root {
  --main-blue: #123554;
  --main-blue-rgb: 18, 53, 84;
  --light-main-blue: rgba(18, 53, 84, 0.8);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Tauri", sans-serif;
  color: var(--main-blue);
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
}

.pageCorpusContent{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-height: 100vh;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  gap: 20px;
	padding: 20px;
	background-color: white;
	border-radius: 8px;
	max-width: 95%;
}

.overFlowSlider{
  width: 100%;
  overflow-x: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.button,
button {
  border: none;
  outline: none;
  padding: 10px 20px;
  border-radius: 8px;

  background-color: var(--light-main-blue);

  font-size: large;
  color: white;
}

.button:hover,
button:hover {
  cursor: pointer;
  background-color: var(--main-blue);
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.formulaire {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;

  width: 100%;
}

form input {
  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;
  border: 1px solid var(--main-blue);
  width: 100%;
}

h1 {
  font-size: 2em;
}

h3 {
  align-self: flex-start;
}

.formTitle {
  padding: 30px;
}

span {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  width: 100%;
  align-self: flex-start;
}

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: white;

  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  padding: 20px;

  width: 500px;
  
}

.formContainer form {
  padding: 0px;
}

.errorMessage {
  color: red;
  text-align: center;
  padding-bottom: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  padding: 20px;
}

th,
td {
  text-align: left;
  vertical-align: middle;
}

@media (max-width: 400px) {
  .mainContainer {
    width: 95%;
  }
  
  .formContainer {
    width: 90%;
  }

  h1 {
    font-size: 1.5em;
    text-align: center;
  }
}

.phoneOnly {
  display: none !important;
}

@media (max-width: 400px) {
  .phoneOnly {
    display: flex !important;
  }
  .desktopOnly {
    display: none !important;
  }
}

