.bandeau-rangement{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	width: 100%;
	min-height: 50vh;
	background-image: url("./assets/BU_rangement.webp");
	background-position: 50% 40%;
	background-attachment: fixed; 
	background-size: cover;
}
