#modificationForm {
	width: 100%;
	max-width: 400px;
	gap: 20px;
}

#modificationTable {
	width: 100%;
}

.modificationSelect {
	width: 100%;
}

#articleSearchForm{
	width: 100%;
}

#articleSearchSpan input{
	width: 100%;
}