.bandeau-rangement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  min-height: 50vh;
  padding: 30px;

  background-image: url("../assets/BU_rangement.webp");
  background-position: 50% 40%;
  background-attachment: fixed;
  background-size: cover;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: left;
}

@media (max-width: 500px) {
  .bandeau-rangement {
    padding: 0;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
