.line {
    height: 2px;
    width: 80px;
    background-color: var(--main-blue);
    position: relative;
}

.active.line {
    background-color: var(--main-blue);
    height: 4px;
}
.circle {
    width: 40px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: white;
    color: var(--main-blue);
    border: 2px solid var(--main-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    position: relative;
}

.activeCircle {
    background-color: var(--main-blue);
    color: white;
}